@charset "utf-8";
/* CSS Document */

header {
    width: 900px;
    text-align: center;
    margin: 0 auto;
    background-color: #E4D6C1;
	overflow:visible;
	height: 350px;
}

nav { 
	float: right;
	overflow: auto;
	font-size: medium;
}
body{ font-family: Arial, Helvetica, sans-serif;
	height: auto;
    font-size: medium;
    background-color: #FFF6E8;
    color: #00231D;
    }
h1{ font-family: Arial, Helvetica, sans-serif;
    color: #00231D;
	text-align: center;
	font-size: xx large;
    }
h2{ font-family: Arial, Helvetica, sans-serif;
    color: #00231D;
    }
h3{ font-family: Arial, Helvetica, sans-serif;
    color: #00231D;
    }
p{ font-family: Arial, Helvetica, sans-serif;
    color: #00231D;
    }
blockquote{ font-family: Arial, Helvetica, sans-serif;
    color: #00231D;
    }
ul{ font-family: Arial, Helvetica, sans-serif;
    color: #00231D;
    }
a:link{ color: #A40003;}
a:hover{ color: #370001;}
a:visited{ color: #830002;}
caption{ font-family: Arial, Helvetica, sans-serif;
    color: #00231D;
    text-align: center;
        }
.floatleft{ float: left;
            padding-right: 20px;
            padding-bottom: 10px;
          }
.floatright{ float: right;
            padding-left: 20px;
            padding-bottom: 10px;
            }
table{ width: 100%;
       color: #00231D;
       padding: 5px;
       border-spacing: 4px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: large;
       border-radius: 8px;
       border: 2px solid #00231D
      }
th{ background-color: #fbe7c7;
    text-align: center;
    color: #001310d5;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid #00231D;
    }
td{ 
    background-color: #ecd9b8;
    border: 2px solid #00231D;
    text-align: center;
    color: #001310d5;
    padding-top: 4px;
    padding-bottom: 4px;
    }

section {
    width: 900px;
    background-image: url("Images/2colback.jpg");
    background-repeat: repeat-y;
    margin: 0 auto;
	overflow: auto;
}

article {
    width: 800px;
    margin: 0 auto;
    height: auto;
    overflow: auto;
}

footer { text-align: center;
	width: 900px;
	height: auto;
	background-color: #E4D6C1;
	margin: 0 auto;
}

.logoleft { 
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}

nav a {
	border: 6px inset #00231D;
	background-color: #E4D6C1;
	line-height: 250%;
	font-weight: bold;
	font-size: 35px;
	color: #00231D;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	font-family: Ariel, Helvetica;
}

nav a:hover {
	color: #000F0D;
	border: 2px outset #00231D;
}

#thumbs, #image {
		width: 500px;
		text-align: center;
		margin: 0 auto 0 auto;
		padding: 5px;
	}

	#thumbs {
		margin-top: 10px;
	}

			
	#thumbs img {
		margin: 5px;
	}

	#image{
		height:400px;
	}

.text-center {
	text-align: center;
}
.auto-style1 {
	float: left;
	height: 150px;
	padding: 0px 15px 10px 80px;
	margin-left: 29px;
}

#minitribute { margin-top: 50px;
	text-align: center;
	overflow: auto;
}